# Symfony
app/vendor/
app/var/
app/.env.local
app/.env.*.local
app/public/bundles/
app/public/uploads/

# Composer
app/composer.lock

# Docker
.docker/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
